@font-face {
  font-family: "Zalando Sans";
  src: url("../fonts/zalando-sans-v2-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans";
  src: url("../fonts/zalando-sans-v2-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans";
  src: url("../fonts/zalando-sans-v2-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans";
  src: url("../fonts/zalando-sans-v2-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Zalando Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
