/* zalando-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/zalando-sans-v2-latin-regular.woff2") format("woff2");
}

/* zalando-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/zalando-sans-v2-latin-500.woff2") format("woff2");
}

/* zalando-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/zalando-sans-v2-latin-600.woff2") format("woff2");
}

/* zalando-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/zalando-sans-v2-latin-700.woff2") format("woff2");
}
